[package]
name = "hgrep"
version = "0.2.4"
edition = "2018"
authors = ["rhysd <lin90162@yahoo.co.jp>"]
description = """
hgrep is a grep tool with human-friendly search output. This is similar to `-C`
option of `grep` command, but its output is enhanced with syntax highlighting
focusing on human readable outputs.
"""
license = "MIT"
homepage = "https://github.com/rhysd/hgrep#readme"
repository = "https://github.com/rhysd/hgrep"
readme = "README.md"
include = [
    "/assets/themes.bin",
    "/assets/syntaxes.bin",
    "/assets/LICENSE-MIT",
    "/src",
    "/LICENSE.txt",
    "/README.md",
    "/CHANGELOG.md",
]
categories = ["command-line-utilities", "text-processing"]
keywords = ["grep", "search", "syntax-highlighting", "ripgrep", "bat"]

[profile.bench]
lto = "thin"

[profile.release]
lto = "thin"

[[bin]]
name = "hgrep"
path = "src/main.rs"

[workspace]
members = [
    "bench",
    "assets/builder",
]

[features]
default = ["ripgrep", "bat-printer", "syntect-printer"]
ripgrep = [
    "grep-matcher",
    "grep-pcre2",
    "grep-regex",
    "grep-searcher",
    "ignore",
    "regex",
    "rayon",
]
syntect-printer = [
    "syntect",
    "rayon",
    "unicode-width",
    "bincode",
    "flate2",
    "rgb2ansi256",
]
bat-printer = [
    "bat",
    "dirs-next",
]

[dependencies]
anyhow = "1"
clap = { version = "3", default-features = false, features = ["std", "color", "suggestions"] }
clap_complete = "3"
memchr = "2"
pathdiff = "0.2"
term = "0.7"
terminal_size = "0.1"
bat = { version = "^0.20.0", default-features = false, features = ["regex-onig"], optional = true }
grep-regex = { version = "0.1.9", optional = true }
grep-searcher = { version = "0.1.8", optional = true }
ignore = { version = "0.4", optional = true }
regex = { version = "1", optional = true }
grep-matcher = { version = "0.1.5", optional = true }
grep-pcre2 = { version = "0.1.5", optional = true }
syntect = { version = "4.6", optional = true }
rayon = { version = "1", optional = true }
unicode-width = { version = "0.1.9", optional = true }
bincode = { version = "1.3", optional = true }
flate2 = { version = "1", optional = true }
rgb2ansi256 = { version = "0.1", optional = true }
dirs-next = { version = "2.0", optional = true }
mimalloc = { version = "0.1", default-features = false }

[target."cfg(windows)".dependencies]
ansi_term = "0.12"

[dev-dependencies]
lazy_static = "1.4"
pretty_assertions = "1"
